<%= javascript_include_tag "/designs/themes/cirandas-responsive/javascripts/theme.js" %>
<%= javascript_include_tag "/designs/themes/cirandas-responsive/javascripts/columnizer.js" %>

<div id='grade'></div>
